name: Trigger nightly playground deployment

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'

jobs:   
  deploy-nightly-playground:
    if: github.repository == 'opensearch-project/opensearch-devops'
    strategy:
      matrix:
        dist_version: ['2.19.4', '3.4.0']
      fail-fast: false
    uses: ./.github/workflows/nightly-playground-deploy.yml
    secrets: inherit
    with:
      dist_version: ${{ matrix.dist_version }}